.sf-p-0 {
  padding: 0rem;
}
.sf-p-1 {
  padding: 0.6rem;
}
.sf-p-2 {
  padding: 1.2rem;
}
.sf-p-3 {
  padding: 1.8rem;
}
.sf-p-4 {
  padding: 2.4rem;
}
.sf-p-5 {
  padding: 3rem;
}
.sf-p-6 {
  padding: 3.6rem;
}
.sf-p-7 {
  padding: 4.2rem;
}
.sf-p-8 {
  padding: 4.8rem;
}
.sf-p-9 {
  padding: 5.4rem;
}
.sf-p-10 {
  padding: 6rem;
}
.sf-pt-0 {
  padding-top: 0rem;
}
.sf-pt-1 {
  padding-top: 0.6rem;
}
.sf-pt-2 {
  padding-top: 1.2rem;
}
.sf-pt-3 {
  padding-top: 1.8rem;
}
.sf-pt-4 {
  padding-top: 2.4rem;
}
.sf-pt-5 {
  padding-top: 3rem;
}
.sf-pt-6 {
  padding-top: 3.6rem;
}
.sf-pt-7 {
  padding-top: 4.2rem;
}
.sf-pt-8 {
  padding-top: 4.8rem;
}
.sf-pt-9 {
  padding-top: 5.4rem;
}
.sf-pt-10 {
  padding-top: 6rem;
}
.sf-pl-0 {
  padding-left: 0rem;
}
.sf-pl-1 {
  padding-left: 0.6rem;
}
.sf-pl-2 {
  padding-left: 1.2rem;
}
.sf-pl-3 {
  padding-left: 1.8rem;
}
.sf-pl-4 {
  padding-left: 2.4rem;
}
.sf-pl-5 {
  padding-left: 3rem;
}
.sf-pl-6 {
  padding-left: 3.6rem;
}
.sf-pl-7 {
  padding-left: 4.2rem;
}
.sf-pl-8 {
  padding-left: 4.8rem;
}
.sf-pl-9 {
  padding-left: 5.4rem;
}
.sf-pl-10 {
  padding-left: 6rem;
}
.sf-pr-0 {
  padding-right: 0rem;
}
.sf-pr-1 {
  padding-right: 0.6rem;
}
.sf-pr-2 {
  padding-right: 1.2rem;
}
.sf-pr-3 {
  padding-right: 1.8rem;
}
.sf-pr-4 {
  padding-right: 2.4rem;
}
.sf-pr-5 {
  padding-right: 3rem;
}
.sf-pr-6 {
  padding-right: 3.6rem;
}
.sf-pr-7 {
  padding-right: 4.2rem;
}
.sf-pr-8 {
  padding-right: 4.8rem;
}
.sf-pr-9 {
  padding-right: 5.4rem;
}
.sf-pr-10 {
  padding-right: 6rem;
}
.sf-pb-0 {
  padding-bottom: 0rem;
}
.sf-pb-1 {
  padding-bottom: 0.6rem;
}
.sf-pb-2 {
  padding-bottom: 1.2rem;
}
.sf-pb-3 {
  padding-bottom: 1.8rem;
}
.sf-pb-4 {
  padding-bottom: 2.4rem;
}
.sf-pb-5 {
  padding-bottom: 3rem;
}
.sf-pb-6 {
  padding-bottom: 3.6rem;
}
.sf-pb-7 {
  padding-bottom: 4.2rem;
}
.sf-pb-8 {
  padding-bottom: 4.8rem;
}
.sf-pb-9 {
  padding-bottom: 5.4rem;
}
.sf-pb-10 {
  padding-bottom: 6rem;
}

.sf-m-0 {
  margin: 0rem;
}
.sf-m-1 {
  margin: 0.6rem;
}
.sf-m-2 {
  margin: 1.2rem;
}
.sf-m-3 {
  margin: 1.8rem;
}
.sf-m-4 {
  margin: 2.4rem;
}
.sf-m-5 {
  margin: 3rem;
}
.sf-m-6 {
  margin: 3.6rem;
}
.sf-m-7 {
  margin: 4.2rem;
}
.sf-m-8 {
  margin: 4.8rem;
}
.sf-m-9 {
  margin: 5.4rem;
}
.sf-m-10 {
  margin: 6rem;
}
.sf-mt-0 {
  margin-top: 0rem;
}
.sf-mt-1 {
  margin-top: 0.6rem;
}
.sf-mt-2 {
  margin-top: 1.2rem;
}
.sf-mt-3 {
  margin-top: 1.8rem;
}
.sf-mt-4 {
  margin-top: 2.4rem;
}
.sf-mt-5 {
  margin-top: 3rem;
}
.sf-mt-6 {
  margin-top: 3.6rem;
}
.sf-mt-7 {
  margin-top: 4.2rem;
}
.sf-mt-8 {
  margin-top: 4.8rem;
}
.sf-mt-9 {
  margin-top: 5.4rem;
}
.sf-mt-10 {
  margin-top: 6rem;
}
.sf-ml-0 {
  margin-left: 0rem;
}
.sf-ml-1 {
  margin-left: 0.6rem;
}
.sf-ml-2 {
  margin-left: 1.2rem;
}
.sf-ml-3 {
  margin-left: 1.8rem;
}
.sf-ml-4 {
  margin-left: 2.4rem;
}
.sf-ml-5 {
  margin-left: 3rem;
}
.sf-ml-6 {
  margin-left: 3.6rem;
}
.sf-ml-7 {
  margin-left: 4.2rem;
}
.sf-ml-8 {
  margin-left: 4.8rem;
}
.sf-ml-9 {
  margin-left: 5.4rem;
}
.sf-ml-10 {
  margin-left: 6rem;
}
.sf-mr-0 {
  margin-right: 0rem;
}
.sf-mr-1 {
  margin-right: 0.6rem;
}
.sf-mr-2 {
  margin-right: 1.2rem;
}
.sf-mr-3 {
  margin-right: 1.8rem;
}
.sf-mr-4 {
  margin-right: 2.4rem;
}
.sf-mr-5 {
  margin-right: 3rem;
}
.sf-mr-6 {
  margin-right: 3.6rem;
}
.sf-mr-7 {
  margin-right: 4.2rem;
}
.sf-mr-8 {
  margin-right: 4.8rem;
}
.sf-mr-9 {
  margin-right: 5.4rem;
}
.sf-mr-10 {
  margin-right: 6rem;
}
.sf-mb-0 {
  margin-bottom: 0rem;
}
.sf-mb-1 {
  margin-bottom: 0.6rem;
}
.sf-mb-2 {
  margin-bottom: 1.2rem;
}
.sf-mb-3 {
  margin-bottom: 1.8rem;
}
.sf-mb-4 {
  margin-bottom: 2.4rem;
}
.sf-mb-5 {
  margin-bottom: 3rem;
}
.sf-mb-6 {
  margin-bottom: 3.6rem;
}
.sf-mb-7 {
  margin-bottom: 4.2rem;
}
.sf-mb-8 {
  margin-bottom: 4.8rem;
}
.sf-mb-9 {
  margin-bottom: 5.4rem;
}
.sf-mb-10 {
  margin-bottom: 6rem;
}

/*/ in = 96 px, 1 cm = 37,8 px et 1 mm = 3,78 px. 1px =0.06rem*/
.sf-fs-0 {
  font-size: 0rem;
}
.sf-fs-1 {
  font-size: 0.8rem;
}
.sf-fs-2 {
  font-size: 1.6rem;
}
.sf-fs-3 {
  font-size: 2.4rem;
}
.sf-fs-4 {
  font-size: 3.2rem;
}
.sf-fs-5 {
  font-size: 4rem;
}

.sf-br-0 {
  border-radius: 0em;
}
.sf-br-1 {
  border-radius: 0.6em;
}
.sf-br-2 {
  border-radius: 1.2em;
}
.sf-br-3 {
  border-radius: 1.8em;
}
.sf-br-4 {
  border-radius: 2.4em;
}
.sf-br-5 {
  border-radius: 3em;
}
.sf-br-6 {
  border-radius: 3.6em;
}
.sf-br-7 {
  border-radius: 4.2em;
}
.sf-br-8 {
  border-radius: 4.8em;
}
.sf-br-9 {
  border-radius: 5.4em;
}
.sf-br-10 {
  border-radius: 6em;
}
.sf-brtl-0 {
  border-top-left-radius: 0em;
}
.sf-brtl-1 {
  border-top-left-radius: 0.6em;
}
.sf-brtl-2 {
  border-top-left-radius: 1.2em;
}
.sf-brtl-3 {
  border-top-left-radius: 1.8em;
}
.sf-brtl-4 {
  border-top-left-radius: 2.4em;
}
.sf-brtl-5 {
  border-top-left-radius: 3em;
}
.sf-brtl-6 {
  border-top-left-radius: 3.6em;
}
.sf-brtl-7 {
  border-top-left-radius: 4.2em;
}
.sf-brtl-8 {
  border-top-left-radius: 4.8em;
}
.sf-brtl-9 {
  border-top-left-radius: 5.4em;
}
.sf-brtl-10 {
  border-top-left-radius: 6em;
}
.sf-brtr-0 {
  border-top-right-radius: 0em;
}
.sf-brtr-1 {
  border-top-right-radius: 0.6em;
}
.sf-brtr-2 {
  border-top-right-radius: 1.2em;
}
.sf-brtr-3 {
  border-top-right-radius: 1.8em;
}
.sf-brtr-4 {
  border-top-right-radius: 2.4em;
}
.sf-brtr-5 {
  border-top-right-radius: 3em;
}
.sf-brtr-6 {
  border-top-right-radius: 3.6em;
}
.sf-brtr-7 {
  border-top-right-radius: 4.2em;
}
.sf-brtr-8 {
  border-top-right-radius: 4.8em;
}
.sf-brtr-9 {
  border-top-right-radius: 5.4em;
}
.sf-brtr-10 {
  border-top-right-radius: 6em;
}
.sf-brbl-0 {
  border-bottom-left-radius: 0em;
}
.sf-brbl-1 {
  border-bottom-left-radius: 0.6em;
}
.sf-brbl-2 {
  border-bottom-left-radius: 1.2em;
}
.sf-brbl-3 {
  border-bottom-left-radius: 1.8em;
}
.sf-brbl-4 {
  border-bottom-left-radius: 2.4em;
}
.sf-brbl-5 {
  border-bottom-left-radius: 3em;
}
.sf-brbl-6 {
  border-bottom-left-radius: 3.6em;
}
.sf-brbl-7 {
  border-bottom-left-radius: 4.2em;
}
.sf-brbl-8 {
  border-bottom-left-radius: 4.8em;
}
.sf-brbl-9 {
  border-bottom-left-radius: 5.4em;
}
.sf-brbl-10 {
  border-bottom-left-radius: 6em;
}
.sf-brbr-0 {
  border-bottom-right-radius: 0em;
}
.sf-brbr-1 {
  border-bottom-right-radius: 0.6em;
}
.sf-brbr-2 {
  border-bottom-right-radius: 1.2em;
}
.sf-brbr-3 {
  border-bottom-right-radius: 1.8em;
}
.sf-brbr-4 {
  border-bottom-right-radius: 2.4em;
}
.sf-brbr-5 {
  border-bottom-right-radius: 3em;
}
.sf-brbr-6 {
  border-bottom-right-radius: 3.6em;
}
.sf-brbr-7 {
  border-bottom-right-radius: 4.2em;
}
.sf-brbr-8 {
  border-bottom-right-radius: 4.8em;
}
.sf-brbr-9 {
  border-bottom-right-radius: 5.4em;
}
.sf-brbr-10 {
  border-bottom-right-radius: 6em;
}

.sf-br-50 {
  border-radius: 50% !important;
}

.zi-0 {
  z-index: 0;
}
.zi-1 {
  z-index: 1;
}
.zi-2 {
  z-index: 2;
}
.zi-3 {
  z-index: 3;
}
.zi-4 {
  z-index: 4;
}
.zi-5 {
  z-index: 5;
}
.zi-6 {
  z-index: 6;
}
.zi-7 {
  z-index: 7;
}
.zi-8 {
  z-index: 8;
}
.zi-9 {
  z-index: 9;
}
.zi-10 {
  z-index: 10;
}

.sf-b_dt-0 {
  border: 0px dotted transparent;
}
.sf-b_dt-1 {
  border: 1px dotted transparent;
}
.sf-b_dt-2 {
  border: 2px dotted transparent;
}
.sf-b_dt-3 {
  border: 3px dotted transparent;
}
.sf-b_dt-4 {
  border: 4px dotted transparent;
}
.sf-b_dt-5 {
  border: 5px dotted transparent;
}
.sf-b_dt-6 {
  border: 6px dotted transparent;
}
.sf-b_dt-7 {
  border: 7px dotted transparent;
}
.sf-b_dt-8 {
  border: 8px dotted transparent;
}
.sf-b_dt-9 {
  border: 9px dotted transparent;
}
.sf-b_dt-10 {
  border: 10px dotted transparent;
}
.sf-b_sd-0 {
  border: 0px solid transparent;
}
.sf-b_sd-1 {
  border: 1px solid transparent;
}
.sf-b_sd-2 {
  border: 2px solid transparent;
}
.sf-b_sd-3 {
  border: 3px solid transparent;
}
.sf-b_sd-4 {
  border: 4px solid transparent;
}
.sf-b_sd-5 {
  border: 5px solid transparent;
}
.sf-b_sd-6 {
  border: 6px solid transparent;
}
.sf-b_sd-7 {
  border: 7px solid transparent;
}
.sf-b_sd-8 {
  border: 8px solid transparent;
}
.sf-b_sd-9 {
  border: 9px solid transparent;
}
.sf-b_sd-10 {
  border: 10px solid transparent;
}
.sf-b_db-0 {
  border: 0px double transparent;
}
.sf-b_db-1 {
  border: 1px double transparent;
}
.sf-b_db-2 {
  border: 2px double transparent;
}
.sf-b_db-3 {
  border: 3px double transparent;
}
.sf-b_db-4 {
  border: 4px double transparent;
}
.sf-b_db-5 {
  border: 5px double transparent;
}
.sf-b_db-6 {
  border: 6px double transparent;
}
.sf-b_db-7 {
  border: 7px double transparent;
}
.sf-b_db-8 {
  border: 8px double transparent;
}
.sf-b_db-9 {
  border: 9px double transparent;
}
.sf-b_db-10 {
  border: 10px double transparent;
}
.sf-b_gv-0 {
  border: 0px groove transparent;
}
.sf-b_gv-1 {
  border: 1px groove transparent;
}
.sf-b_gv-2 {
  border: 2px groove transparent;
}
.sf-b_gv-3 {
  border: 3px groove transparent;
}
.sf-b_gv-4 {
  border: 4px groove transparent;
}
.sf-b_gv-5 {
  border: 5px groove transparent;
}
.sf-b_gv-6 {
  border: 6px groove transparent;
}
.sf-b_gv-7 {
  border: 7px groove transparent;
}
.sf-b_gv-8 {
  border: 8px groove transparent;
}
.sf-b_gv-9 {
  border: 9px groove transparent;
}
.sf-b_gv-10 {
  border: 10px groove transparent;
}
.sf-b_rg-0 {
  border: 0px ridge transparent;
}
.sf-b_rg-1 {
  border: 1px ridge transparent;
}
.sf-b_rg-2 {
  border: 2px ridge transparent;
}
.sf-b_rg-3 {
  border: 3px ridge transparent;
}
.sf-b_rg-4 {
  border: 4px ridge transparent;
}
.sf-b_rg-5 {
  border: 5px ridge transparent;
}
.sf-b_rg-6 {
  border: 6px ridge transparent;
}
.sf-b_rg-7 {
  border: 7px ridge transparent;
}
.sf-b_rg-8 {
  border: 8px ridge transparent;
}
.sf-b_rg-9 {
  border: 9px ridge transparent;
}
.sf-b_rg-10 {
  border: 10px ridge transparent;
}
.sf-b_in-0 {
  border: 0px inset transparent;
}
.sf-b_in-1 {
  border: 1px inset transparent;
}
.sf-b_in-2 {
  border: 2px inset transparent;
}
.sf-b_in-3 {
  border: 3px inset transparent;
}
.sf-b_in-4 {
  border: 4px inset transparent;
}
.sf-b_in-5 {
  border: 5px inset transparent;
}
.sf-b_in-6 {
  border: 6px inset transparent;
}
.sf-b_in-7 {
  border: 7px inset transparent;
}
.sf-b_in-8 {
  border: 8px inset transparent;
}
.sf-b_in-9 {
  border: 9px inset transparent;
}
.sf-b_in-10 {
  border: 10px inset transparent;
}
.sf-b_out-0 {
  border: 0px outset transparent;
}
.sf-b_out-1 {
  border: 1px outset transparent;
}
.sf-b_out-2 {
  border: 2px outset transparent;
}
.sf-b_out-3 {
  border: 3px outset transparent;
}
.sf-b_out-4 {
  border: 4px outset transparent;
}
.sf-b_out-5 {
  border: 5px outset transparent;
}
.sf-b_out-6 {
  border: 6px outset transparent;
}
.sf-b_out-7 {
  border: 7px outset transparent;
}
.sf-b_out-8 {
  border: 8px outset transparent;
}
.sf-b_out-9 {
  border: 9px outset transparent;
}
.sf-b_out-10 {
  border: 10px outset transparent;
}
.sf-b_none-0 {
  border: 0px none transparent;
}
.sf-b_none-1 {
  border: 1px none transparent;
}
.sf-b_none-2 {
  border: 2px none transparent;
}
.sf-b_none-3 {
  border: 3px none transparent;
}
.sf-b_none-4 {
  border: 4px none transparent;
}
.sf-b_none-5 {
  border: 5px none transparent;
}
.sf-b_none-6 {
  border: 6px none transparent;
}
.sf-b_none-7 {
  border: 7px none transparent;
}
.sf-b_none-8 {
  border: 8px none transparent;
}
.sf-b_none-9 {
  border: 9px none transparent;
}
.sf-b_none-10 {
  border: 10px none transparent;
}
.sf-b_hd-0 {
  border: 0px hidden transparent;
}
.sf-b_hd-1 {
  border: 1px hidden transparent;
}
.sf-b_hd-2 {
  border: 2px hidden transparent;
}
.sf-b_hd-3 {
  border: 3px hidden transparent;
}
.sf-b_hd-4 {
  border: 4px hidden transparent;
}
.sf-b_hd-5 {
  border: 5px hidden transparent;
}
.sf-b_hd-6 {
  border: 6px hidden transparent;
}
.sf-b_hd-7 {
  border: 7px hidden transparent;
}
.sf-b_hd-8 {
  border: 8px hidden transparent;
}
.sf-b_hd-9 {
  border: 9px hidden transparent;
}
.sf-b_hd-10 {
  border: 10px hidden transparent;
}

.sf-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  text-decoration: none;
}
.sf-btn:focus, .sf-btn.focus {
  outline: 0;
}
.sf-btn-bg-bprimary {
  background-color: #0000ff;
  color: white;
}
.sf-btn-bg-bsecondary {
  background-color: #0097ff;
  color: black;
}
.sf-btn-bg-gprimary {
  background-color: #00b200;
  color: white;
}
.sf-btn-bg-gsecondary {
  background-color: #00ff00;
  color: black;
}
.sf-btn-bg-blue {
  background-color: #007bff;
  color: black;
}
.sf-btn-bg-indigo {
  background-color: #6610f2;
  color: white;
}
.sf-btn-bg-purple {
  background-color: #6f42c1;
  color: black;
}
.sf-btn-bg-pink {
  background-color: #e83e8c;
  color: black;
}
.sf-btn-bg-red {
  background-color: #dc3545;
  color: black;
}
.sf-btn-bg-orange {
  background-color: #fd7e14;
  color: black;
}
.sf-btn-bg-yellow {
  background-color: #ffc107;
  color: black;
}
.sf-btn-bg-green {
  background-color: #28a745;
  color: white;
}
.sf-btn-bg-teal {
  background-color: #20c997;
  color: black;
}
.sf-btn-bg-cyan {
  background-color: #17a2b8;
  color: black;
}
.sf-btn-bg-white {
  background-color: #fff;
  color: black;
}
.sf-btn-bg-gray {
  background-color: #6c757d;
  color: white;
}
.sf-btn-bg-gray-dark {
  background-color: #343a40;
  color: white;
}

.sf-fw-0 {
  font-weight: 0;
}
.sf-fw-1 {
  font-weight: 100;
}
.sf-fw-2 {
  font-weight: 200;
}
.sf-fw-3 {
  font-weight: 300;
}
.sf-fw-4 {
  font-weight: 400;
}
.sf-fw-5 {
  font-weight: 500;
}
.sf-fw-6 {
  font-weight: 600;
}
.sf-fw-7 {
  font-weight: 700;
}
.sf-fw-8 {
  font-weight: 800;
}
.sf-fw-9 {
  font-weight: 900;
}

.sf-align-baseline {
  vertical-align: baseline !important;
}

.sf-align-top {
  vertical-align: top !important;
}

.sf-align-middle {
  vertical-align: middle !important;
}

.sf-align-bottom {
  vertical-align: bottom !important;
}

.sf-align-text-bottom {
  vertical-align: text-bottom !important;
}

.sf-align-text-top {
  vertical-align: text-top !important;
}

.text-justify {
  text-align: justify !important;
}

.text-nowrap {
  white-space: nowrap !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-center {
  text-align: center !important;
}

.text-lowercase {
  text-transform: lowercase !important;
}

.text-uppercase {
  text-transform: uppercase !important;
}

.text-capitalize {
  text-transform: capitalize !important;
}

.font-italic {
  font-style: italic !important;
}

/*# sourceMappingURL=view.css.map */
