.box-nav-blog {
    position: fixed !important;
    top: 4rem !important;
    top: 4rem !important;
    height: 90vh;
    right: 0;
    justify-self: flex-end;
    align-self: flex-end;
    background-color: white;
    backdrop-filter: blur(15px);
    padding: 2rem;
    box-shadow: -1px 5px 4px #616161;
}

.blog-container {
    width: 80vw;
}

.partial {
    position: sticky !important;
    top: 4rem !important;
    margin-right: 0 !important;
    float: right;
    justify-self: right;
    height: 90vh;
}


.img-blog {
    position: relative;
    display: block;
    padding: 0;
    width: 100%;
    height: 10rem;
}

.blog-image {
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: .6em;
}

.blog-category {
    position: absolute;
    right: 0;
    margin: 2% 5% 0 0;
    padding: 6px;
    text-align: center;
    background-color: grey;
    border-radius: 8px;
    color: white;
    font: 900;

}


.description {
    padding: .7rem;
}

.description h1 {
    font-size: 1.15rem;
    color: #413f3f;
}

.blog-content-prev {
    padding: 0 .9rem 0 .9rem;
    font-size: .9rem;
    font: 100;
    color: #747474;
    text-align: justify;
}

.blog-info {
    justify-content: space-between;
    padding: .6rem;
    margin-top: .6rem;
    color: #747373;
    font: 400;
    font-size: small;
    font-style: italic;
}

.blog-reactions {
    display: flex;
    padding: .6rem;
    justify-content: space-around;
    align-items: center;
    color: #616161;
    position: relative;
    margin-top: auto !important;
}

.blog-content a {
    text-decoration: none;
    width: 30%;
    border: 1px solid #d1dde6;
}

@media screen and (min-width:576px) {
    .blog-content a {
        text-decoration: none;
        width: 90%;
        border: 1px solid #d1dde6;
    }
}

@media screen and (max-width:667px) {

    .blog-container {
        width: 100%;
    }

    .box-nav-blog {
        display: none;
    }
}

@media screen and (max-width:667px) {
    .blog-content a {
        text-decoration: none;
        width: 45%;
        border: 1px solid #d1dde6;
        margin-top: 2rem;
    }

    .box-nav-blog,
    .box-nav-blog>* {
        display: none;
        width: 0 !important;
    }
}


@media screen and (min-width:668px) {
    .blog-content a {
        text-decoration: none;
        width: 45%;
        border: 1px solid #d1dde6;
        margin-top: 2rem;
    }

    .blog-container {
        width: 75vw;
    }

    .box-nav-blog {
        width: 24vw;
    }
}

@media screen and (min-width:992px) {
    .blog-content a {
        text-decoration: none;
        width: 40%;
        border: 1px solid #d1dde6;
    }

    .blog-container {
        width: 75vw;
    }
}

@media screen and (min-width:1192px) {
    .blog-content a {
        text-decoration: none;
        width: 30%;
        border: 1px solid #d1dde6;
    }



}

.tag-content {
    position: relative;
    justify-content: space-between;
    align-content: space-between;
    align-items: stretch;
}

.tag {
    margin: .3rem .1rem;
    position: relative;
    padding: .3rem;
    background-color: #747474;
    color: white;
    border-radius: .8em;

    font-weight: 100 !important;
    font-size: small;
    text-decoration: none;
}