// stylelint-disable declaration-no-important

.sf-align-baseline {
    vertical-align: baseline !important;
}

// Browser default
.sf-align-top {
    vertical-align: top !important;
}

.sf-align-middle {
    vertical-align: middle !important;
}

.sf-align-bottom {
    vertical-align: bottom !important;
}

.sf-align-text-bottom {
    vertical-align: text-bottom !important;
}

.sf-align-text-top {
    vertical-align: text-top !important;
}