$default_boreder :1px;

$border_size_map : cal_dimension($default_boreder, 10);

// dashed - Defines a dashed border
// dotted - Defines a dotted border
// solid - Defines a solid border
// double - Defines a double border
// groove - Defines a 3D grooved border. The effect depends on the border-color value
// ridge - Defines a 3D ridged border. The effect depends on the border-color value
// inset - Defines a 3D inset border. The effect depends on the border-color value
// outset - Defines a 3D outset border. The effect depends on the border-color value
// none - Defines no border
// hidden - Defines a hidden border


$style :('dt':dotted,
    'sd':solid,
    'db':double,
    'gv':groove,
    'rg':ridge,
    'in':inset,
    'out':outset,
    'none':none,
    'hd':hidden);

@mixin border($size, $style, $color) {

    @each $a,
    $b in $style {

        @each $c ,
        $d in $size {
            &_#{$a}-#{$c} {
                border: $d $b $color;
            }
        }
    }
}

.sf-b {
    @include border($border_size_map, $style , transparent);
}