.sf-btn {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  user-select: none;
  // Share hover and focus styles
  padding: .6em !important;
  font-size: calc(1.5rem/1.43) !important;
  transition: all .4s linear;
  text-decoration: none;

  &:focus,
  &.focus {
    outline: 0;

  }

  &-bg {

    @each $key ,
    $val in $def_colors {
      @if($key =="bprimary" or $key=="gprimary" or $key =="green" or $key=="indigo" or $key=="gray-dark" or $key=="gray") {
        &-#{$key} {
          background-color: $val !important;
          color: white !important;

        }
      }

      @else {
        &-#{$key} {
          background-color: $val !important;
          color: black !important;
        }
      }
    }
  }
}


.sf-btn-bg-bprimary:hover {

  background-color: #00b200 !important;
  color: #ffff !important;
  transition: all .4s linear;
  transform: scale(1.01);


}

.sf-btn-bg-bsecondary:hover {

  background-color: #00ff00 !important;
  color: black !important;
  transform: scale(1.01);

  transition: all .4s linear;

}