.sf-dflex {
    display: flex;

}

.sf-flex-col {
    flex-direction: column;
}

.sf-flex-row {
    flex-direction: row;
}

.sf-flex-col_rev {
    flex-direction: column-reverse;
}

.sf-flex-row_rev {
    flex-direction: row-reverse;
}