.sf-dgrid {
    position: relative;
    display: grid;
    grid-template-columns: repeat(1fr, 12);
    grid-template-rows: auto;
    grid-template-areas: ". . . . . . . . . . . .";
    // justify-content: center;
    // align-items: center;
    gap: 0px 0px;
    justify-self: auto;
}

// .col-12 {
//     grid-area: "col-12";
// }

// .sf-grid-col-1 {
//     grid-template-columns: 1fr;
// }

// .sf-grid-col-2 {
//     grid-template-columns: 1fr 1fr;
// }


// .sf-grid-col-3 {
//     grid-template-columns: 1fr 1fr 1fr;
// }

// .sf-grid-col-4 {
//     grid-template-columns: 1fr 1fr 1fr 1fr;
// }

// .sf-grid-col-5 {
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
// }

// .sf-grid-col-6 {
//     grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
// }