$default_border_radius: .6em;

$br_map: cal_dimension($default_border_radius, 10);
$sous_br_map : ('tl':"top-left-radius", 'tr':"top-right-radius", 'bl':"bottom-left-radius", 'br':"bottom-right-radius");

.sf-br {
    @include adjuster(border-radius, $br_map, false);
    @include sous_adjuster(border, $br_map, $sous_br_map);
}

.sf-br-50 {
    border-radius: 50% !important;
}