<footer class="footer div-li aos-item fs8" data-aos="fade-right" data-aos-duration="1500"
    data-aos-placement="center-bottom">
    <div class="footer-group div-li">
        <div class="group-1">
            <!-- <img src="Sf 1/Sf/Stratégy-Fine.png" class="mx-auto" style="width: 70%;" alt=""> -->
            <img src="img/Strategy fond noir.svg" class="mx-auto my-auto" style="width: 70%;" alt="">
            <!-- <img src="img/logo-txt.png" class="mx-auto" style="width: 80%;" alt=""> -->
            <!-- <div class="txt-center mb-01">ASSOCIATION DES STRAT&Eacute;GIES NOUVELLES ET FINES</div> -->
            <div class="icons ">
                <a href="#"><i class="fa-brands fa-facebook-f" style="color: aliceblue;"></i> </a>
                <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                <a href="#"> <i class="fa-brands fa-linkedin-in"></i></a>
                <a href="#"> <i class="fa-brands fa-twitter"></i></a>
            </div>
        </div>
        <div class="group-2">
            <div class="mobil-mt-1 mb-01">
                Nos Services
            </div>
            <div>
                <ul>
                    <li><i class="fa-solid fa-angle-right " style="color: #c5c4c4;"></i> <a class="fs8" href="">Sites
                            vitrines</a></li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Sites
                            E-commerce</a></li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Applications
                            mobile</a></li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">SEO</a></li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">SEA</a></li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Maquette de
                            site</a></li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Refonte de
                            site</a></li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Designe
                            graphique</a></li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Landing
                            page</a>
                    </li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Rédaction
                            web</a>
                    </li>
                    <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Gestion des
                            réseaux sociaux</a></li>
                </ul>
            </div>
        </div>


        <div class="group-3">
            <div>

                <div class="mb-01 mobil-mt-1 ">
                    <span class="fa-solid fa-link"></span> Liens importants
                </div>
                <div>
                    <ul>
                        <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Qui
                                sommme-nous
                                ?</a></li>
                        <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">FAQs</a></li>
                        <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Nous
                                recrutons</a></li>
                        <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">Help &amp;
                                Support</a></li>
                        <!-- <li><i class="fa-solid fa-angle-right" style="color: #e6e6e6;"></i> <a href="">SEA</a></li> -->

                    </ul>
                </div>
            </div>
            <div>
                <div class="txt-center contact mt-10">
                    Contacts
                </div>
                <div class=" div-li-2  mt-1 div-contact">

                    <div class="txt-center txt-fs-secondary fs8 mt-05">
                        <i class="fa-solid fa-phone mb-02" style="color: #d6d6d6;"></i> Phone : <br>
                        <div class="fs8">
                            +229 229 229 00
                        </div>
                        <div class="fs8 mt-05"> +229 300 300 00</div>
                    </div>


                    <div class="txt-center txt-fs-secondary fs8 mt-05">
                        <i class="fa-solid fa-envelope mb-02" style="color: #dbdbdb;"></i> <span>Email:</span> <br>
                        <div class="fs8">
                            support@email.com

                        </div>
                        <div class="fs8 mt-05">
                            company@emai.org
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
    <div class="div-li footer-group politiques">
        <div class=" mx-auto ">
            <a href="">Mentions légales</a>
        </div>
        <div class="mx-auto">
            <a href="">Politiques de confidentialité</a>
        </div>
        <div class="mx-auto">
            <a href="">Politiques des cookies</a>
        </div>

    </div>
</footer>
<div class="div-li mx-auto txt-center ccopy ">&copy; StrategyFine 2023 All right reserved</div>