<header class="stg-header-container">
    <div class="header-elms fs8">

        <!-- <img src="img/Stratégy-FineACCl_-_copie_1-removebg-preview.png" alt="" class="logo"> -->
        <img src="img/Strategy.svg" alt="" class="logo">

        <div class="stg-service">
            <ul class="">
                <li><a class="xElm" href="">Développement </a>
                    <ul class="sous-service s1 stg-hover">
                        <li><a href="">Sites web</a></li>
                        <li><a href=""> Sites E-commerces</a></li>
                        <li><a href=""> Applications Mobiles</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="stg-service">
            <ul>
                <li><a class="xElm" href="">Référencement </a>
                    <ul class="sous-service s1 stg-hover">
                        <li><a href=""> Référencement SEO</a>
                        </li>
                        <li><a href=""> Référencement SEA</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="stg-service">
            <ul>
                <li><a class="xElm" href="">Design UI/UX </a>
                    <ul class="sous-service s1 stg-hover">
                        <li><a href="">Maquette de site</a>
                        </li>
                        <li><a href=""> Refonte de site</a>
                        </li>
                        <li><a class="xElm" href=""> Design Graphique </a>
                            <ul class="sous-service sst txt-nowrap stg-hover">
                                <li><a href=""> Logo</a></li>
                                <li><a href="">Charte Graphique</a></li>
                                <li><a href="">Affiche</a></li>
                                <li><a href="">Carousel</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="stg-service txt-nowrap">
            <ul>
                <li><a class="xElm" href="">Stratégie de contenu </a>
                    <ul class="sous-service s1 stg-hover">
                        <li><a href="">Landing page</a></li>
                        <li><a class="xElm" href=""> Rédaction web SEO </a>
                            <ul class="sous-service sst txt-nowrap stg-hover">
                                <li><a href=""> Rédaction simple</a></li>
                                <li><a href=""> Rédaction optimisé SEO</a></li>
                                <li><a href=""> Rédaction premium/copywrighting</a></li>
                            </ul>
                        </li>
                        <li><a href=""> Gestion des réseaux sociaux </a>
                            <!-- <ul class="sous-service  txt-nowrap sst stg-hover">
                                        <li><a href="">1 post par semaine </a></li>
                                        <li><a href=""> 3 posts par semaine</a></li>
                                        <li><a href=""> 5 posts par semaine</a></li>
                                        <li><a href=""> 7 posts par semaine</a></li>
                                    </ul> -->
                        </li>

                        <li><a href="">Montage vidéo</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="stg-service">
            <ul>
                <li><a class="xElm" href="">Blog </a></li>
            </ul>
        </div>
        <div class="search-bar">
            <form action="" method="get">
                <input type="search" name="" id="inputMD" placeholder="Search" value="" title="">
                <button type="submit"><i class="fa-solid fa-magnifying-glass" style="color: #868080;"></i></button>
            </form>
        </div>
        <button id="nav" class="md-btn-nav" type="button"><i class="fa-solid fa-bars"></i></button>
    </div>
</header>