<nav class="mobile-nav">
    <div class="search-mobile">
        <form action="" method="get">
            <div class="search-template ">
                <label for="inputMobi"></label>
                <input type="search" name="" id="inputMobi" class="form-control mobil" value="" title="">
                <button type="submit"><i class="fa-solid fa-search"></i></button>

            </div>

        </form>


    </div>
    <div class="serach-autoComplete">
        <!-- <div id="magicsuggest"></div> -->
    </div>
    <section class="ac-container">
        <div>
            <input id="ac-1" name="accordion-1" type="radio" checked="">
            <label for="ac-1"><a class="xElm" href="">Développement </a></label>
            <article class="ac-small">
                <p><a href="">Sites web</a>
                    <a href=""> Sites E-commerces</a>
                    <a href=""> Applications Mobiles</a>
                </p>
            </article>
        </div>
        <div>
            <input id="ac-2" name="accordion-1" type="radio">
            <label for="ac-2"><a class="xElm" href="">Référencement </a></label>
            <article class="ac-medium">
                <p><a href=""> Référencement SEO</a>

                    <a href=""> Référencement SEA</a>
                </p>
            </article>
        </div>
        <div>
            <input id="ac-3" name="accordion-1" type="radio">
            <label for="ac-3"><a class="xElm" href="">Design UI/UX </a></label>
            <article class="ac-large">
                <p><a href="">Maquette de site</a>
                    <a href=""> Refonte de site</a>
                <div class="mobile-mt-3">
                    <input id="ac-3" name="accordion-1" type="radio">
                    <label for="ac-3"><a class="xElm" href=""> Design Graphique </a></label>
                    <article class="ac-large3">
                        <p>
                            <a href=""> Logo</a>
                            <a href="">Charte Graphique</a>
                            <a href="">Affiche</a>
                            <a href="">Carousel</a>
                        </p>
                    </article>
                </div>

                </p>
            </article>
        </div>
        <div>
            <input id="ac-4" name="accordion-1" type="radio">
            <label for="ac-4"><a class="xElm" href="">Stratégie de contenu </a></label>
            <article class="ac-large2">
                <p><a href="">Landing page</a>

                    <a href=""> Gestion des réseaux sociaux </a>


                    <a href="">Montage vidéo</a>
                </p>
                <div class="mobile-mt-3">
                    <input id="ac-33" name="accordion-1" type="radio">
                    <label for="ac-33"><a class="xElm" href=""> Rédaction web SEO </a></label>
                    <article class="ac-large">
                        <p>
                            <a href=""> Rédaction simple</a>
                            <a href=""> Rédaction optimisé SEO</a>
                            <a href=""> Rédaction premium/copywrighting</a>
                        </p>
                    </article>
                </div>

            </article>
        </div>
        <div>
            <input id="ac-4" name="accordion-1" type="radio">
            <label for="ac-4"><a class="xElm" href="">Blog </a></label>
            <article class="ac-large">
                <p>You see? It's curious. Ted did figure it out - time travel. And when we get back, we
                    gonna tell everyone. How it's possible, how it's done, what the dangers are. But then
                    why fifty years in the future when the spacecraft encounters a black hole does the
                    computer call it an 'unknown entry event'? Why don't they know? If they don't know, that
                    means we never told anyone. And if we never told anyone it means we never made it back.
                    Hence we die down here. Just as a matter of deductive logic. </p>
            </article>
        </div>
    </section>
</nav>